<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="888495">  <td>22/02/23 16:22:41</td>   <td>0</td> <td title="&gt;&gt;OpenBrowser.OpenWeb()[pri:0, instance:TestCase.OrderToShipconfirm@11c9af63]">&gt;&gt;OpenWeb</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1087081975</td>   <td></td> </tr>
<tr bgcolor="8d8484">  <td>22/02/23 16:22:49</td>   <td>7277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.ExecuteLogin()[pri:1, instance:TestCase.Login@2898ac89]">ExecuteLogin</td> 
  <td>main@1087081975</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>22/02/23 16:23:08</td>   <td>26806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderToShipconfirm.ExeOrderToSM()[pri:1, instance:TestCase.OrderToShipconfirm@11c9af63]">ExeOrderToSM</td> 
  <td>main@1087081975</td>   <td></td> </tr>
</table>
