<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc86a5">  <td>22/01/28 15:12:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderToShipconfirm.ExeOrderToSM()[pri:1, instance:TestCase.OrderToShipconfirm@6bf08014]">ExeOrderToSM</td> 
  <td>main@550147359</td>   <td></td> </tr>
<tr bgcolor="9081b6">  <td>22/01/28 15:13:13</td>   <td>18550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.ExecuteLogin()[pri:1, instance:TestCase.Login@5e3d57c7]">ExecuteLogin</td> 
  <td>main@550147359</td>   <td></td> </tr>
<tr bgcolor="61bc69">  <td>22/01/28 15:12:47</td>   <td>-7337</td> <td title="&gt;&gt;OpenBrowser.OpenWeb()[pri:0, instance:CommonFunctions.OpenBrowser@4416d64f]">&gt;&gt;OpenWeb</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@550147359</td>   <td></td> </tr>
</table>
